@import url(http://fonts.googleapis.com/css?family=Oswald);

h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 70px;
    color: #333;
    font-family: Oswald;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: #333;
    font-family: Oswald;
    font-weight: lighter;
}

.parallax {
    background-image: url(assets/images/header-bg.jpg);
    height: 500px;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.cover{
    height: 800px;
    background-image: url(assets/images/stars-bg.png);
    background-repeat: repeat;
    background-position: top;
    padding-top: 40px;
}

body {
    height: 100%;
    background-color: #ffffff;
    margin: auto;
    padding: 0px;
}

#gameContainer {
    background-color: #333;
    width: 500px;
    height: 500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}